body{
    font-family: 'Times New Roman', Times, serif;
  
   
}
.entry
{
    width: 100%;         
    box-sizing: border-box;
    position: absolute;
    left: 28px;
    top: 50px;
    margin-left: 1000px;
    margin-top: 290px;
    max-width: 300px;
    padding: 16px;

}
button{
    align-items: center;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    align-content: center;
    background-color:rgb(192,4,28);
    padding: 10px;
    cursor: pointer;
    width: 109%;

}
.img{
    
    left: 0%;
    top: 0%;    
    bottom: 0%;
   
}
.logo1
{   
    margin-top: -630px;
    margin-left: 1020px;
    justify-content: center;
    
}
button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    background-color:dimgray;   
}
.login
{
    color:black;
    font-weight: bold;
    font-size: large;
    box-sizing: border-box;
    border-color: black;
   

}
input{
    
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    border: 2px solid black;
    font-size: large;
    margin-top: 10px;
   
}
.font
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:rgb(192,4,28);
    font-weight: bold;

}